@mixin centrado {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}
@mixin gradient{
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #8360c3 ,#2ebf91);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top,  #8360c3 ,#2ebf91); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}