@import "../styles/bassic.scss";
body {
  .container {
    display: flex;
    flex-direction: column;
    .subcontainer {
      display: flex;
      flex-direction: row;
      .busqueda {
        display: flex;
        flex-direction: column;
        .salas {
          height: 80vh;
          width: 35rem;
          overflow-y: scroll;

          .sala-item {
            display: flex;
            flex-direction: row;
            height: 8rem;
            padding: 1rem;
            margin: 1rem;
            background: white;
            border-radius: 1rem;
            width: 30rem;

            .info {
              text-align: left;
              width: 20rem;
            }

            .compra {
              width: 10rem;
              .btn {
                margin-top: 3rem;
                margin-left: 3rem;
                background: $color3;
                border-radius: 0.5rem;
                cursor: pointer;
                &:hover {
                  background: $color4;
                  color: white;
                }
              }
            }
          }
        }
      }
      .butacas {
        @include centrado;
        text-align: center;
        background: gray;
        margin-left: 10rem;
        height: 12rem;
        width: 12rem;
        padding: 1rem;
        border-radius: 0.5rem;
        .diagrama-sala {
          .pantalla{
            background: white;
          }
          .table {
            .tr {
              .td {
              }
            }
          }
        }
      }
    }
  }
}
