<header></header>

<body>
  <div class="container">
    <h1>Busca la pelicula y adquiere tu entrada!</h1>
    <div class="subcontainer">
      <div class="busqueda">
        <div class="salas">
          <div class="sala-item" *ngFor="let cinema of cinemaArr">
            <div class="info">
              <h2>{{ cinema.tipo }}</h2>
              Pelicula: {{ cinema.pelicula.nombre }} <br>
              Horario: {{ cinema.fechaHora }} <br>
              Asientos Disponibles: {{ cinema.sillasDisponibles }}
            </div>
            <div class="compra">
              <button class="btn">Comprar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="butacas">
        <div class="diagrama-sala">
          <div class="pantalla"><p>pantalla</p></div>
          <table>
            <tr>
              <td><img src="assets/butaca.jpg" width="30" height="30"/></td>
              <td><img src="assets/butaca.jpg" width="30" height="30"/></td>
              <td><img src="assets/butaca.jpg" width="30" height="30"/></td>
              <td><img src="assets/butaca.jpg" width="30" height="30"/></td>
              <td><img src="assets/butaca.jpg" width="30" height="30"/></td>

            </tr>

            <tr>
                <td><img src="assets/butaca.jpg" width="30" height="30"/></td>
                <td><img src="assets/butaca.jpg" width="30" height="30"/></td>
                <td><img src="assets/butaca.jpg" width="30" height="30"/></td>
                <td><img src="assets/butaca.jpg" width="30" height="30"/></td>
                <td><img src="assets/butaca.jpg" width="30" height="30"/></td>
            </tr>

            <tr>
                <td><img src="assets/butaca.jpg" width="30" height="30"/></td>
                <td><img src="assets/butaca.jpg" width="30" height="30"/></td>
                <td><img src="assets/butaca.jpg" width="30" height="30"/></td>
                <td><img src="assets/butaca.jpg" width="30" height="30"/></td>
                <td><img src="assets/butaca.jpg" width="30" height="30"/></td>
            </tr>

            <tr>
                <td><img src="assets/butaca.jpg" width="30" height="30"/></td>
                <td><img src="assets/butaca.jpg" width="30" height="30"/></td>
                <td><img src="assets/butaca.jpg" width="30" height="30"/></td>
                <td><img src="assets/butaca.jpg" width="30" height="30"/></td>
                <td><img src="assets/butaca.jpg" width="30" height="30"/></td>
            </tr>
          </table>

        </div>
      </div>
    </div>
  </div>
</body>