<header>
  <div class="container"> 
    <a routerLink="/" class="logo">CineContinent</a> 
    <nav> 
      <ul> 
        <li>
          <a routerLink="/">Inicio</a>          
        </li> 
        <li>
          <a routerLink="/cartelera">Cartelera</a>
        </li> 
        <li>
          <a routerLink="/administracion">Administración</a>
        </li>
        <li>
            <a routerLink="/estadisticas">Estadisticas</a>
        </li>  
      </ul> 
    </nav> 
  </div> 
</header>