<header></header>

<body>
  <div class="container">
    <h1>Hola admin! Agrega nuevas peliculas a la Cartelera</h1>
    <div class="formulario">
      <div class="indicaciones">
        Nombre del Film: <input type="text" placeholder="Ej: Blanca Nieves" class="in"> <br>
        Idioma: <input type="text" placeholder="Ej: Español" class="in"> <br>
        Edad minima establecida: <input type="text" placeholder="Ej: 13" class="in"> <br>
        Director: <input type="text" placeholder="Ej: Jair Spielberg" class="in"> <br>

      </div>
      <button class="btn">Guardar</button>
    </div>
  </div>
</body>

<!-- 

  Nombre del Film <input type="text" [(ngModel)]="selectedMovie.nombre" placeholder="Ej: Blanca Nieves">
  Idioma <input type="text" [(ngModel)]="selectedMovie.idioma" placeholder="Ej: Español">
  Edad minima establecida <input type="text" [(ngModel)]="selectedMovie.edadEstablecida" placeholder="Ej: 13">
  Direcor <input type="text" [(ngModel)]="selectedMovie.director" placeholder="Ej: Jair Spielberg">
  <button>Guardar</button>

 -->