@import "../styles/bassic.scss";

body {
  //@include centrado;
  color: white;

  .container {
    display: flex;
    flex-direction: column;
    .formulario {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      background: white;
      color: black;
      border-radius: 0.5rem;
      width: 60%;
      align-items: center;
      .indicaciones {
          text-align: right;
        .in {
            border-radius: 0.5rem;
          }
      }
      .btn {
        margin-top: 1rem;
        background: $color3;
        width: 5rem;
        height: 3rem;
        border-radius: 0.5rem;
        cursor: pointer;
        &:hover {
          background: $color4;
          color: white;
        }
      }
    }
  }
}
