@import "../styles/bassic.scss";
body {
  @include centrado;
  .boleto {
    background: white;
    text-align: left;
    padding: 1rem;
    border-width: 0.1rem;
    border-color: black;
    text-align: center;
    align-content: center;
    align-items: center;
    .datos {
      text-align: left;
      padding: 1rem;
      border-width: 0.1rem;
      border-style: dotted;
    }
    .barcode{
        padding-top: 1rem;
    }
  }
}
