<header></header>

<body>
  <div class="boleto">
    <h1>CineContinent</h1>
    <div class="datos">
      Pelicula: <br>
      Sala: <br>
      Horario: <br>
      Asiento: <br>
    </div>
    <div class="barcode">
      © CineContinent <br>
      <img src="assets/barcode.jpg">
    </div>
  </div>
</body>