/* You can add global styles to this file, and also import other style files */
@import 'src/app/styles/bassic.scss';
body, html { 
    height: 100vh;
    width: 100vw; 
    margin: 0 auto;
    @include gradient;
} 

body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
} 
a { 
    text-decoration: none; 
} 
.container { 
    width: 80%; 
    margin: 0 auto; 
    padding: 1.3em; 
    display: grid; 
    grid-template-columns: 30% auto; 
    a { 
        color: white; 
    } 
} 
section { 
    width: 80%; 
    margin: 0 auto; 
    padding: 2em; 
} 