body{
    color: white;
    .container{
        display: flex;
        flex-direction: column;
        .movies{
            width: 100%;
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            .movies-item{
                padding: 0.5rem;
                margin: 1rem;
                background: black;
                align-content: center;
                text-align: center;
                &:hover{
                    opacity: 0.7;
                    cursor: pointer; 
                }
            }
        }
    }
}