<header></header>
<body>
  <div class="container">
    <h1>Películas en Cartelera</h1>

    <div class="movies">
        <div class="movies-item" *ngFor="let movie of movieArr">
          <img src="assets/mib.jpg" *ngIf="movie.nombre === ('MIB: Hombres de Negro')"/>
          <img src="assets/godzilla.jpg" *ngIf="movie.nombre === ('Godzilla II: El rey de los mounstruos')" />
          <img src="assets/xmen.jpg" *ngIf="movie.nombre === ('X-MEN: Dark Phoenix')" />
          <img src="assets/nodisp.jpg" *ngIf="movie.nombre !== ( 'MIB: Hombres de Negro') && movie.nombre !== ('Godzilla II: El rey de los mounstruos') && movie.nombre !== ('X-MEN: Dark Phoenix')"/>
          <br> {{ movie.nombre }}
        </div>

    </div>
  </div>
</body>